<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/6744b65c5f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myapp">

    <div ng-controller="myctrl" class="container-fluid py-5 px-0 d-flex justify-content-center "
        style="background-color: #F0F2F5;">
        <div class="container w-75 py-5 px-0 mx-0">
           <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-5 d-flex align-items-center">
                <div class="container size">
                    <p class="fs-1 fw-bold text-danger mb-0 font-monospace b">DirtyCoins</p>
                    <p class="fs-3 fw-medium font-monospace">được bắt đầu từ 2017 tại Sài Gòn - Việt Nam, xuất phát ý tưởng về một thương hiệu Việt mang văn hóa đường phố.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-7"> 
                <div class="card d-block size shadow">
                    <div class="card-body pb-0">
                        <input type="text" class="form-control my-3 shadow-none" placeholder="Email hoặc số điện thoại" ng-model="u" >
                        <input type="text" class="form-control my-3 shadow-none" placeholder="Mật khẩu" ng-model="p" >
                        <div class="d-grid gap-2 col-12 mx-auto my-3">
                            <button ng-click="dn()" type="button" class="btn btn-primary btn-outline-dark text-white p-2 border-0 fw-bold">
                              Đăng nhập
                        </button>
                        </div>
                        <div class="d-flex justify-content-center"><a class="mx-auto my-2 text-decoration-none" href="#">Quên mật khẩu?</a></div>
                    </div>
                    <hr class="m-0">
                    <div class="d-grid gap-2 col-6 mx-auto my-2 p-1">
                        <button style="background-color: #36A420;" class="btn text-white fw-bold p-2" type="button">Tạo tài khoản mới</button>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>

    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function($scope, $http) {
            $scope.dn = function() {
                $http.get('account.json').then(function(response) {
                    // Dữ liệu từ tệp JSON được lưu trong `response.data`
                    var account = response.data; // Giả sử tệp JSON có cấu trúc là một mảng các đối tượng
                    var tc = false;
                    var motsv;
                    for(var i = 0; i < account.length; i++) {
                        motsv = account[i];
                        if($scope.u == motsv.username && $scope.p == motsv.password) {
                            tc = true;
                            break;
                        }
                    }
                    if(tc) {
                        sessionStorage.setItem("username", motsv.username);
                        sessionStorage.setItem("hoten", motsv.fullname);
                        sessionStorage.setItem("email", motsv.email);
                        document.location = "pages/home.html";
                    } else {
                        alert("Thông tin đăng nhập không chính xác");
                    }
                });
            };
        });
    </script>
    
    <div class="container-fluid" style="background-color: #F3F3F3;">
        <p class="size-ft m-0 p-3 font-monospace fw-bold"><i class="fa-solid fa-square-phone"></i> Hỗ trợ / Mua hàng:
          <span class="text-danger">0123 456 789</span></p>
      </div>
    
      <div class="d-none d-md-block container-fluid p-3 ">
        <div class="row">
          <div class="col-lg-6">
            <p class="fs-4 font-monospace mb-0 fw-bold">Hệ thống của hàng</p>
            <table>
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi nhánh Hồ Chí Minh
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Quận 1</span>: 160 Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh.</td>
                </tr>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Quận 1</span>: The New Playground 26 Lý Tự Trọng, Phường Bến
                    Nghé.</td>
                </tr>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Quận 1</span>: Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ
                    Lão</td>
                </tr>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Quận Gò Vấp</span>: 326 Quang Trung, Phường 10.</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi Nhánh Biên Hòa
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">TP. Biên Hòa</span>: 151A Phan Trung, Phường Tân Mai.</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi Nhánh Bình Dương
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">TP. Thủ Dầu Một</span>: 28 Yersin, Phường Hiệp Thành.</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi Nhánh Cần Thơ
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Quận Ninh Kiều</span>: 52 Mậu Thân, Phường An Phú.</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi Nhánh Hà Nội
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Đống Đa</span>: 49-51 Hồ Đắc Di, Phường Nam Đồng.</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-location-dot"></i>
                  </th>
                  <th class="ps-2 fw-semibold font-monospace">
                    Chi Nhánh Hưng Yên
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td class="ps-2"><span class="fw-medium ">Văn Giang</span>: PT.TV 136 - Mega Grand World - Ocean Park</td>
                </tr>
              </tbody>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-phone"></i>
                  </th>
                  <th class="ps-2 font-monospace">
                    0123 456 789 - 1900252557
                  </th>
                </tr>
              </thead>
    
              <thead>
                <tr>
                  <th>
                    <i class="fa-solid fa-envelope"></i>
                  </th>
                  <th class="ps-2 font-monospace">
                    Assignment1@gmail.com
                  </th>
                </tr>
              </thead>
    
            </table>
    
    
          </div>
    
          <div class="col-lg-3 col-md-6">
            <span class="fs-4 font-monospace fw-bold">Mạng Xã Hội</span>
            <div class="container-fluid p-0 my-2">
              <a class="me-1" href="#"><i class="fa-brands fa-facebook fs-1 icon-theme"></i></a>
              <a class="m-1" href="#"><i class="fa-brands fa-youtube fs-1 icon-theme"></i></a>
              <a class="m-1" href="#"><i class="fa-brands fa-instagram fs-1 icon-theme"></i></a>
            </div>
    
            <span class="fs-4 font-monospace fw-bold">Chính Sách</span>
            <div class="container-fluid p-0">
              <ol class="p-0 custom-list">
                <li>Chính sách bảo mật</li>
                <li>FAQ</li>
                <li>Chính sách Thẻ Thành viên</li>
                <li>Chính sách Bảo hành & Đổi trả</li>
                <li>Chính sách giao hàng hỏa tốc</li>
              </ol>
            </div>
          </div>
    
    
          <div class="col-lg-3 col-md-6 fs-4 font-monospace fw-bold">
            <span class="fs-4 font-monospace fw-bold">fanpage</span>
            <div class="container p-0">
              <a href="#"><img src="images/fanpage.png.png" class="img-fluid" alt=""></a>
            </div>
          </div>
    
    
        </div>
      </div>
    
    
      <div class="d-md-none accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed shadow-none bg-transparent pb-0" type="button"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
              aria-controls="flush-collapseOne">
              <p class="fs-4 font-monospace mb-0 fw-bold">Hệ thống của hàng</p>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body pt-2">
              <table>
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi nhánh Hồ Chí Minh
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Quận 1</span>: 160 Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh.
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Quận 1</span>: The New Playground 26 Lý Tự Trọng, Phường Bến
                      Nghé.</td>
                  </tr>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Quận 1</span>: Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ
                      Lão</td>
                  </tr>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Quận Gò Vấp</span>: 326 Quang Trung, Phường 10.</td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi Nhánh Biên Hòa
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">TP. Biên Hòa</span>: 151A Phan Trung, Phường Tân Mai.</td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi Nhánh Bình Dương
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">TP. Thủ Dầu Một</span>: 28 Yersin, Phường Hiệp Thành.</td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi Nhánh Cần Thơ
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Quận Ninh Kiều</span>: 52 Mậu Thân, Phường An Phú.</td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi Nhánh Hà Nội
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Đống Đa</span>: 49-51 Hồ Đắc Di, Phường Nam Đồng.</td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-location-dot"></i>
                    </th>
                    <th class="ps-2 fw-semibold font-monospace">
                      Chi Nhánh Hưng Yên
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row"></td>
                    <td class="ps-2"><span class="fw-medium ">Văn Giang</span>: PT.TV 136 - Mega Grand World - Ocean Park
                    </td>
                  </tr>
                </tbody>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-phone"></i>
                    </th>
                    <th class="ps-2 font-monospace">
                      0123 456 789 - 1900252557
                    </th>
                  </tr>
                </thead>
    
                <thead>
                  <tr>
                    <th>
                      <i class="fa-solid fa-envelope"></i>
                    </th>
                    <th class="ps-2 font-monospace">
                      Assignment1@gmail.com
                    </th>
                  </tr>
                </thead>
    
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed shadow-none bg-transparent pb-0" type="button"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
              aria-controls="flush-collapseTwo">
              <span class="fs-4 font-monospace fw-bold">Mạng Xã Hội</span>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body pt-2">
              <div class="container-fluid p-0 my-2">
                <a class="me-1" href="#"><i class="fa-brands fa-facebook fs-1 icon-theme"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-youtube fs-1 icon-theme"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-instagram fs-1 icon-theme"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed shadow-none bg-transparent pb-0" type="button"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
              aria-controls="flush-collapseThree">
              <span class="fs-4 font-monospace fw-bold">Chính Sách</span>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body pt-2">
              <div class="container-fluid p-0">
                <ol class="p-0 custom-list">
                  <li>Chính sách bảo mật</li>
                  <li>FAQ</li>
                  <li>Chính sách Thẻ Thành viên</li>
                  <li>Chính sách Bảo hành & Đổi trả</li>
                  <li>Chính sách giao hàng hỏa tốc</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed shadow-none bg-transparent pb-0" type="button"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
              aria-controls="flush-collapseFour">
              <span class="fs-4 font-monospace fw-bold">fanpage</span>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body pt-2">
              <div class="container p-0">
                <a href="#"><img src="images/fanpage.png.png" class="img-fluid" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="container-fluid border-top p-4 ">
        <p class="text-center">Copyright © 2024 Assignment 1 by vipboi</p>
      </div>



  

    <!-- navbar hover -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) { // Nếu cuộn trang hơn 50px
                $('.sticky-top').addClass('navbar-shadow');
            } else {
                $('.sticky-top').removeClass('navbar-shadow');
            }
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>