<div class="div">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000"
    data-bs-pause="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/anh.pnj.png" class="img-fluid" style alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="../images/image.pnj.png" class="img-fluid " alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="../images/hinh.pnj.png" class="img-fluid " alt="Slide 3">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-fluid mt-4 d-flex justify-content-center ">
  <div class="row custom-w">
    <div class="col-sm-6 col-12 my-2 image-container">
      <a href="#">
        <img class="img-fluid image-hover"
          src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/xxx_4.jpg?1705424601490" alt="">
      </a>
      <div class="image-text">
        <p class="fw-bold fs-2">Best seller</p>
        <p class="fw-medium fs-6">DC x BR Thương Bạn Gái/trai T-shirt</p>
      </div>
    </div>

    <div class="col-sm-6 col-12 my-2 image-container">
      <a href="#">
        <img class="img-fluid image-hover"
          src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/xxx_5.jpg?1705424601490" alt="">
      </a>
      <div class="image-text">
        <p class="fw-bold fs-2">Best seller</p>
        <p class="fw-medium fs-6">DirtyCoins Print Cardigan</p>
      </div>
    </div>
  </div>
</div>

<!-- Best seller -->
<div class="container-fluid mt-4 d-flex justify-content-center">
  <div class="row w-card d-flex justify-content-center">
    <h1 class="text-center">BEST SELLER</h1>

    <div ng-repeat="sp in allProduct | productStatusFilter:'Best Seller'" class="card border-0 col-lg-3 col-md-6 col-sm-6 card-w card-w m-1 p-0 border-0">
      <div class="card-body p-0 position-relative">
        <ul class=" list-unstyled d-flex flex-wrap gap-2 position-absolute">
          <li class="badge text-bg-dark p-2 demo">Collab</li>
          <li class="badge text-bg-dark p-2 demo">New arrival</li>
          <li class="badge text-bg-dark p-2 demo">Best seller</li>
        </ul>
        <a href="#!details/{{sp.id}}">
          <img class="img-fluid" src="{{sp.image}}" alt="">
          <div class="product-name-overlay">See details</div>
        </a>
      </div>
      <div class="card-footer border-0 bg-body">
        <P style="font-size: 13px;" class="fs- m-0 text-center ellipsis-text">{{sp.title}}</P>
        <P class="text-center m-0 ellipsis-text">{{sp.price}}<u>đ</u></P>
      </div>
    </div>
    <button type="button" class="button-w btn btn-outline-dark mt-3">See More</button>
  </div>
</div>


<div class="container-fluid mt-4 d-flex justify-content-center ">
  <div class="row custom-w">
    <div class="col-sm-6 col-12 my-2 image-container">
      <a href="#">
        <img class="img-fluid image-hover"
          src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/xxx_6.jpg?1705424601490" alt="">
      </a>
      <div class="image-text">
        <p class="fw-bold fs-2">Best seller</p>
        <p class="fw-medium fs-6">DirtyCoins Embossed Slides - Black</p>
      </div>
    </div>

    <div class="col-sm-6 col-12 my-2 image-container">
      <a href="#">
        <img class="img-fluid image-hover"
          src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/xxx_7.jpg?1705424601490" alt="">
      </a>
      <div class="image-text">
        <p class="fw-bold fs-2">Best seller</p>
        <p class="fw-medium fs-6">Puppies Regular T-shirt - Brown </p>
      </div>
    </div>
  </div>
</div>

<!-- New arrivals -->
<div class="container-fluid mt-4 d-flex justify-content-center">
  <div class="row w-card d-flex justify-content-center">
    <h1 class="text-center">NEW ARRIVALS</h1>

    <div class="card col-lg-3 col-md-6 col-sm-6 card-w card-w m-1 p-0 border-0" ng-repeat="sp in allProduct |productStatusFilter:'New Arrivals'">
      <div class="card-body p-0 position-relative">
        <ul class=" list-unstyled d-flex flex-wrap gap-2 position-absolute">
          <li class="badge text-bg-dark p-2 demo">New arrival</li>
        </ul>
        <a href="#!details/{{sp.id}}">
          <img class="img-fluid" src="{{sp.image}}" alt="">
          <div class="product-name-overlay">See details</div>
        </a>
      </div>
      <div class="card-footer border-0 bg-body">
        <P style="font-size: 13px;" class="fs- m-0 text-center ellipsis-text text-uppercase">{{sp.title}}</P>
        <P class="text-center m-0 ellipsis-text">{{sp.price}}<u>đ</u></P>
      </div>
    </div>
    <button type="button" class="button-w btn btn-outline-dark mt-3">See More</button>
  </div>
</div>