
      <div class="container pt-5">
        <div class="form-signup pt-5 m-auto">
          <h4 class="text-center">Đăng ký tài khoản mới</h4>
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" ng-model="usernameForSignUp" id="usernameForSignUp" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="passwordForSignUp" ng-model="passwordForSignUp" placeholder="Password" required>
            </div>
            <div class="mb-3">
              <label for="password-confirm" class="form-label">Nhập lại mật khẩu</label>
              <input type="password" ng-model="passwordConfirmForSignUp" class="form-control" id="passwordConfirmForSignUp" placeholder="Retype Password" required>
            </div>
            <button type="submit" ng-click="signUp()" class="btn btn-primary btn-outline-dark text-white p-2 border-0 fw-bold w-100">Đăng ký</button>
          </form>
        </div>
      </div>


      <div class="container mt-4">
        <h1 class="text-center mb-3">LOCAL BRAND</h1>
        <div class="row">
          <div class="col-3">
            <img src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/brand1.png?1705424601490" class="img-fluid" alt="Description of Image">
          </div>
          <div class="col-3">
            <img src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/brand4.png?1705424601490" class="img-fluid" alt="Description of Image">
          </div>
          <div class="col-3">
            <img src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/brand6.png?1705424601490" class="img-fluid" alt="Description of Image">
          </div>
          <div class="col-3">
            <img src="https://bizweb.dktcdn.net/100/369/010/themes/914385/assets/brand7.png?1705424601490" class="img-fluid" alt="Description of Image">
          </div>
        </div>
      </div>
      
  